.button {
    background-color: green;
    color: white;
    border: 0;
    height: 30px;
    width: 30px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: hsl(120, 100%, 30%);
  }
  
  .button:active {
    outline: auto black;
    background-color: hsl(120, 100%, 35%);
  }
  
  .button--remove {
    background-color: crimson;
    font-weight: normal;
  }
  
  .button--remove:hover {
    background-color: hsl(348, 83%, 52%);
  }
  
  .button--remove:active {
    background-color: hsl(348, 83%, 57%);
  }

  .section__headerButtons {
    color: teal;
    background-color: transparent;
    border: 0px transparent;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    cursor: pointer;
  }

  .section__headerButtons:hover {
    color: hsl(180, 100%, 35%);
  }